<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@300&display=swap" rel="stylesheet">
    <title>CONTACTO</title>
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <div class="container__contacto">
        <!-- COMIENZO ENCABEZADO -->
        <header class="header">
            <!-- LOGO -->
            <div class="header__logo">
                <a href="../index.html"><img src="../assets/img/logo.png" alt="logo"></a>
            </div>
            <!-- CIERRE LOGO -->
            <!-- INICIO NAV-->
            <nav class="header__menu"> 
            <!-- LISTA CON VIÑETAS -->
                <ul>
                    <li><a href="../index.html">NOVEDADES</a></li>
                    <li><a href="quienes_somos.html">QUIÉNES SOMOS</a></li>
                    <li><a href="tu_visita.html">TU VISITA</a></li>
                    <li><a href="titulos_destacados.html">TÍTULOS DESTACADOS</a></li>
                    <li><a href="contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
        </header>
        <!-- CIERRE ENCABEZADO -->
        <!-- INICIO CONTENIDO -->
        <main class="main__contacto">
            <h1 class="titulo">CONTACTO</h1>
            <div class="card__visita">
                <h2 class="card__titulo">VISITÁ NUESTRA TIENDA</h2>
                <div class="contacto__visita">
                    <div class="card__texto">
                        <p>Te esperamos en el centro de la ciudad de Presidencia Roque Sáenz Peña, Chaco.</p>
                        <p>Reservá tu visita al <a href="tel:+543644511163">+54 9 364 541 163.</a></p>
                    </div>
                    <div>
                        <img src="../assets/img/contacto__2.jpg" alt="contacto" class="card__imagen">
                    </div>
                </div>
            </div>
            <div class="card__contacto">
                <h2 class="card__titulo">DEJANOS UN MENSAJE</h2>
                <div class="contacto__contacto">
                    <div class="formulario">
                        <!-- FORMULARIO DE CONTACTO-->
                        <form action="#" class="formulario">
                        <div class="nombre">
                            <label for="nombre">Nombre y apellido:
                                <input type="text" name="nombre">
                        </label><br>
                        </div>
                        <div class="email">
                            <label for="email">E-mail:
                                <input type="email" name="email">
                            </label><br>
                        </div>
                        </label>
                        <div class="telefono">
                            <label for="telefono">Teléfono:
                                <input type="number" name="telefono">
                            </label><br>
                        </div>
                        <div class="asunto">
                            <label for="asunto">Asunto:
                                <input type="text" name="asunto">
                            </label><br>
                        </div>
                        <div class="mensaje">
                            <p>Mensaje</p>
                            <textarea name="" id="" cols="20" rows="5"> </textarea>
                        </div>
                        <div class="novedades">Deseo recibir novedades
                            <input type="checkbox" name="aceptar" value="1" class="formulario__elemento">
                        </div>
                        <input type="submit" value="ENVIAR" class="formulario__button">
                    </form>
                    </div>
                    <!-- IMAGEN DE CONTACTO -->
                    <div class="imagen__contacto">
                        <img src="../assets/img/contacto.jpg" alt="contacto">
                    </div>
                </div>
            </div>
            </div>
        </main>
        <!-- CIERRE CONTENIDO -->
        <!-- INICIO FOOTER -->
        <footer class="footer">
            <div class="redes">
                <a href="https://www.facebook.com/"><img src="https://icongr.am/entypo/facebook-with-circle.svg?size=70&color=712d9f" alt="facebook" class="redes__logo"></a>
                <a href="https://www.twitter.com/"><img src="https://icongr.am/entypo/twitter-with-circle.svg?size=70&color=712d9f" alt="twitter" class="redes__logo"></a>
                <a href="https://www.instagram.com/"><img src="https://icongr.am/entypo/instagram-with-circle.svg?size=70&color=712d9f" alt="instagram" class="redes__logo"></a>
            </div>
        </footer>
        <!-- CIERRE FOOTER -->
</body>
</html>