<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@300&display=swap" rel="stylesheet">
    <title>QUIÉNES SOMOS</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
</head>
<body>
    <div class="container__quienessomos">
        <!-- COMIENZO ENCABEZADO -->
        <header class="header">
            <!-- LOGO -->
            <div class="header__logo">
                <a href="../index.html"><img src="../assets/img/logo.png" alt="logo"></a>
            </div>
            <!-- CIERRE LOGO -->
            <!-- INICIO NAV-->
            <nav class="header__menu"> 
            <!-- LISTA CON VIÑETAS -->
                <ul>
                    <li><a href="../index.html">NOVEDADES</a></li>
                    <li><a href="quienes_somos.html">QUIÉNES SOMOS</a></li>
                    <li><a href="tu_visita.html">TU VISITA</a></li>
                    <li><a href="titulos_destacados.html">TÍTULOS DESTACADOS</a></li>
                    <li><a href="contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
        </header>
        <!-- CIERRE ENCABEZADO -->
        <!-- INICIO CONTENIDO -->
        <main class="main__quienessomos">
            <h1 class="titulo">CONOCENOS</h1> <!-- TITULO DE SECCIÓN-->
            <!-- INICIO CARD-->
            <div class="card__quienessomos">
                <h2 class="card__titulo">Sobre nosotros</h2>
                <p class="card__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="card__texto">Ut commodi itaque ipsum.</p>
                <p class="card__texto">Odit, ipsam voluptates veritatis ex sint ea nesciunt nobis aspernatur beatae, ut quos deserunt totam quia perferendis perspiciatis?</p>
                <img src="../assets/img/quienes_somos.png" alt="logo" class="card__imagen">
            </div>
            <!-- CIERRE CARD -->
        </main>
        <!-- INICIO FOOTER -->
        <footer class="footer">
            <div class="redes">
                <a href="https://www.facebook.com/"><img src="https://icongr.am/entypo/facebook-with-circle.svg?size=70&color=712d9f" alt="facebook" class="redes__logo"></a>
                <a href="https://www.twitter.com/"><img src="https://icongr.am/entypo/twitter-with-circle.svg?size=70&color=712d9f" alt="twitter" class="redes__logo"></a>
                <a href="https://www.instagram.com/"><img src="https://icongr.am/entypo/instagram-with-circle.svg?size=70&color=712d9f" alt="instagram" class="redes__logo"></a>
            </div>
        </footer>
        <!-- CIERRE FOOTER -->
    </div>
</body>
</html>