<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@300&display=swap" rel="stylesheet">
    <title>TÍTULOS DESTACADOS</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
</head>
<body>
    <div class="container__titulos">
        <!-- COMIENZO ENCABEZADO -->
        <header class="header">
            <!-- LOGO -->
            <div class="header__logo">
                <a href="../index.html"><img src="../assets/img/logo.png" alt="logo"></a>
            </div>
            <!-- CIERRE LOGO -->
            <!-- INICIO NAV-->
            <nav class="header__menu"> 
            <!-- LISTA CON VIÑETAS -->
                <ul>
                    <li><a href="../index.html">NOVEDADES</a></li>
                    <li><a href="quienes_somos.html">QUIÉNES SOMOS</a></li>
                    <li><a href="tu_visita.html">TU VISITA</a></li>
                    <li><a href="titulos_destacados.html">TÍTULOS DESTACADOS</a></li>
                    <li><a href="contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
        </header>
        <!-- CIERRE ENCABEZADO -->
        <!-- INICIO CONTENIDO -->
        <main class="main__titulos">
            <h1 class="titulo">TÍTULOS RECOMENDADOS</h1>
            <!-- COMIENZO PRIMERA SECTION -->
            <section class="titulos__descripcion">
                <!-- COMIENZO PRIMERA CARD-->
                <div class="primera__card">
                    <h2 class="card__titulo">Boquitas pintadas</h2>
                    <img src="../assets/img/boquitas_pintadas.jpg" alt="boquitas_pintadas" class="card__imagen">
                    <p class="card__texto">Boquitas pintadas es una novela del escritor argentino Manuel Puig. Está escrita en forma de folletín y habla de los amores, las mezquindades y las pequeñas miserias de los habitantes de un pueblo.</p> 
                    <div class="card__pie">
                        <a href="#">¡Lo quiero!</a>
                    </div>
                </div>
                <!-- CIERRE PRIMERA CARD -->
                <!-- COMIENZO SEGUNDA CARD -->
                <div class="segunda__card">
                    <h2 class="card__titulo">La luna y las fogatas</h2>
                    <img src="../assets/img/luna_fogatas.jpg" alt="la luna y las fogatas" class="card__imagen">
                    <p class="card__texto">En este libro de Cesar Pavese, Anguilla, que ha pasado veinte años en América, regresa a su aldea natal. Anguilla, acompañado por su amigo y guía Nuto, redescubre la tierra en que nació.</p>
                    <div class="card__pie">
                        <a href="#">¡Lo quiero!</a>
                    </div>
                </div>
                <!-- CIERRE SEGUNDA CARD -->
                <!-- INICIO TERCERA CARD -->
                <div class="tercera__card">
                    <h2 class="card__titulo">Me acuerdo</h2>
                    <img src="../assets/img/me_acuerdo.jpg" alt="me acuerdo" class="card__imagen">
                    <p class="card__texto">Me acuerdo, el último libro de Martín Kohan exhibe la enumeración de recuerdos que el autor de Ciencias morales evoca al calor de una escritura precisa, ajustada.H abla de su infancia con la frialdad del observador, con la distancia.</p>
                    <div class="card__pie">
                        <a href="#">¡Lo quiero!</a>
                    </div>
                </div>
                <!-- CIERRE TERCERA CARD-->
                <!-- COMIENZO CUARTA CARD-->
                <div class="cuarta__card">
                    <h2 class="card__titulo">Orlando</h2>
                    <img src="../assets/img/orlando.jpg" alt="orlando" class="card_imagen">
                    <p>Orlando, la novela biográfica escrita por Virginia Woolf, se trata de una obra en parte biográfica, basada en la vida de la novia de Woolf Vita Sackville-West.</p>
                    <div class="card__pie">
                        <a href="#">¡Lo quiero!</a>
                    </div>
                </div>
                <!-- CIERRE TERCERA CARD-->
                <!-- COMIENZO CUARTA CARD -->
                <div class="quinta__card">
                    <h2 class="card__titulo">Cien años de soledad</h2>
                    <img src="../assets/img/cienaniosdesoledad.jpg" alt="cien años de soledad" class="card__imagen">
                    <p class="card__texto">Cien años de soledad es una novela del escritor colombiano Gabriel García Márquez, considerada una obra maestra de la literatura hispanoamericana y universal, y una de las obras más traducidas y leídas en español.​</p>
                    <div class="card__pie">
                        <a href="#">¡Lo quiero!</a>
                    </div>
                </div>
                <div class="sexta__card">
                    <h2 class="card__titulo">Rebelión en la granja</h2>
                    <img src="../assets/img/rebelion.jpg" alt="rebelión en la granja" class="card__imagen">
                    <p class="card__texto">Rebelión en la granja es una novela corta satírica del escritor británico George Orwell. Publicada en 1945, la obra es una fábula mordaz sobre cómo el régimen soviético de Iósif Stalin corrompe el socialismo.</p>
                    <div class="card__pie">
                        <a href="#">¡Lo quiero!</a>
                    </div>
                </div>
            </section>
            <!--CIERRE PRIMERA SECTION-->
            <!-- COMIENZO SEGUNDA SECTION-->
            <section class="titulos__mobile">
                <!--COMIENZO PRIMER LIBRO-->
                <div class="primerlibro">
                    <h2 class="card__titulo">Boquitas Pintadas</h2>
                    <img src="../assets/img/boquitas_pintadas.jpg" alt="boquitas pintadas" class="card__imagen">
                    <div class="card__pie">
                        <a href="#">¡Lo quiero!</a>
                    </div>
                </div>
                <!-- CIERRE PRIMER LIBRO-->
                <!-- COMIENZO SEGUNDO LIBRO-->
                <div class="segundolibro">
                    <h2 class="card__titulo">La luna y las fogatas</h2>
                    <img src="../assets/img/luna_fogatas.jpg" alt="la luna y las fogatas" class="card__imagen">
                    <div class="card__pie">
                        <a href="#">¡Lo quiero!</a>
                    </div>
                </div>
                <!--CIERRE SEGUNDO LIBRO-->
                <!-- COMIENZO TERCER LIBRO-->
                <div class="tercerlibro">
                    <h2 class="card__titulo">Me acuerdo</h2>
                    <img src="../assets/img/me_acuerdo.jpg" alt="me acuerdo" class="card__imagen">
                    <div class="card__pie">
                        <a href="#">¡Lo quiero!</a>
                    </div>
                </div>
                <!--CIERRE TERCER LIBRO-->
                <!-- COMIENZO CUARTO LIBRO-->
                <div class="cuartolibro">
                    <h2 class="card__titulo">Orlando</h2>
                    <img src="../assets/img/orlando.jpg" alt="orlando" class="card__imagen">
                    <div class="card__pie">
                        <a href="#">¡Lo quiero!</a>
                    </div>
                </div>
                <!--CIERRE CUARTO LIBRO-->
                <!-- COMIENZO QUINTO LIBRO-->
                <div class="quintolibro">
                    <h2 class="card__titulo">Cien años de soledad</h2>
                    <img src="../assets/img/cienaniosdesoledad.jpg" alt="cien años de soledad" class="card__imagen">
                    <div class="card__pie">
                        <a href="#">¡Lo quiero!</a>
                    </div>
                </div>
                <!-- CIERRE QUINTO LIBRO-->
                <!-- COMIENZO SEXTO LIBRO-->
                <div class="sextolibro">
                    <h2 class="card__titulo">Rebelión en la granja</h2>
                    <img src="../assets/img/rebelion.jpg" alt="rebelión en la granja" class="card__imagen">
                    <div class="card__pie">
                        <a href="#">¡Lo quiero!</a>
                    </div>
                </div>
            </section>
        </main>
        <!-- CIERRE CONTENIDO-->
        <footer class="footer">
            <div class="redes">
                <a href="https://www.facebook.com/"><img src="https://icongr.am/entypo/facebook-with-circle.svg?size=70&color=712d9f" alt="facebook" class="redes__logo"></a>
                <a href="https://www.twitter.com/"><img src="https://icongr.am/entypo/twitter-with-circle.svg?size=70&color=712d9f" alt="twitter" class="redes__logo"></a>
                <a href="https://www.instagram.com/"><img src="https://icongr.am/entypo/instagram-with-circle.svg?size=70&color=712d9f" alt="instagram" class="redes__logo"></a>
            </div>
        </footer>
        <!-- CIERRE FOOTER -->
    </div>
</body>
</html>

